# 第2章 データを入出力しよう

In [1]:
import pandas as pd
import numpy as np

---

## 2.1 CSVファイル保存時の余計な列を除くには

In [2]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
df

    Name Subject  Point
0  Alice      国語     87
1  Alice      数学     72
2    Bob      国語     65
3    Bob      数学     92

### やってみよう

In [5]:
    df.to_csv("result.csv",index=False)

In [3]:
df.to_csv("result.csv")

In [4]:
df2 = pd.read_csv("result.csv",index_col=0)
display(df2)

    Name Subject  Point
0  Alice      国語     87
1  Alice      数学     72
2    Bob      国語     65
3    Bob      数学     92

In [5]:
df3 = pd.read_csv("result.csv")
display(df3)

   Unnamed: 0   Name Subject  Point
0           0  Alice      国語     87
1           1  Alice      数学     72
2           2    Bob      国語     65
3           3    Bob      数学     92

## 2.2 ファイルのエンコーディングエラーを解消するには

In [15]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
# CSVファイル出力
df.to_csv("test_score.csv", index=False)

with open("test_score.csv",encoding="utf-8") as fp:
    print(fp.read())  # UnicodeDecodeErrorや文字化け

Name,Subject,Point
Alice,国語,87
Alice,数学,72
Bob,国語,65
Bob,数学,92

### やってみよう

In [16]:
pd.read_csv("test_score.csv",encoding="utf-8")

    Name Subject  Point
0  Alice      国語     87
1  Alice      数学     72
2    Bob      国語     65
3    Bob      数学     92

## 2.3 タブ区切り形式のファイルを読み込むには

### やってみよう

In [17]:
pd.read_csv(".\dataset\enquete.tsv",sep="\t")

  user_id deciding_factor
0    S001           価格,機能
1    S002     価格,デザイン,その他
2    S003          機能,安全性
3    S004             その他
4    S005      価格,デザイン,機能

In [18]:
pd.read_table(".\dataset\enquete.tsv")

  user_id deciding_factor
0    S001           価格,機能
1    S002     価格,デザイン,その他
2    S003          機能,安全性
3    S004             その他
4    S005      価格,デザイン,機能